<!DOCTYPE html>
{%  extends "publicNav.html" %}
<html lang="en">
<head>
    {% block head_meta %}
    <meta charset="UTF-8">
    {% block title %}<title>大型细长筒类构件位姿原位测量系统</title>{% endblock %}
    {% endblock %}
    <!--CSS标签 -->

    {% block css %}
    <link href="../static/css/test_css.css" rel="stylesheet">
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/ionicons.css" rel="stylesheet">
    <link href="../static/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../static/css/rickshaw.min.css" rel="stylesheet">
    {% endblock %}
    <!--CSS结束 -->
    {% block my_css %}
    <link rel="stylesheet" href="../static/css/starlight.css">
    {% endblock %}

</head>
<body>
    {% block header %}
    <!-- ########## START: LEFT PANEL ########## -->
    <div class="sl-logo" style="background-color:#1255a2"><a href=""><img src="../static/picture/logo.jpg" class="wd-30 rounded-circle"></img> BUAA</a></div>
    <div class="sl-sideleft">
        <label class="sidebar-label">功能模块</label>
        <div class="sl-sideleft-menu">
            <a href="index.html" class="sl-menu-link">
                <div class="sl-menu-item">
                    <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
                    <span class="menu-item-label">测量系统初始化</span>
			        <i class="menu-item-arrow fa fa-angle-down"></i>
                </div><!-- menu-item -->
            </a><!-- sl-menu-link -->
	        <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="../cameraCalibration/" class="nav-link">测量场标定及日志管理</a></li>
                <li class="nav-item"><a href="../prioriImport/" class="nav-link">先验加工数据导入及管理</a></li>
            </ul>
            <a href="#" class="sl-menu-link active">
            <div class="sl-menu-item">
                <i class="menu-item-icon icon ion-ios-gear-outline tx-24"></i>
                <span class="menu-item-label">视觉测量及位姿计算</span>
                <i class="menu-item-arrow fa fa-angle-down"></i>
            </div><!-- menu-item -->
            </a>
            <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="../testMeasure/" class="nav-link">目标识别检测及定位</a></li>
                <li class="nav-item"><a href="../threeDRestructure/" class="nav-link">关键特征点三维重构</a></li>
                <li class="nav-item"><a href="../poseCalculate/" class="nav-link">筒段构件关键位姿计算</a></li>
            </ul>
            <a href="#" class="sl-menu-link">
                <div class="sl-menu-item">
                    <i class="menu-item-icon ion-ios-pie-outline tx-20"></i>
                    <span class="menu-item-label">测量系统结果输出</span>
			        <i class="menu-item-arrow fa fa-angle-down"></i>
                </div><!-- menu-item -->
            </a><!-- sl-menu-link -->
	        <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="../resultsAnalysis/" class="nav-link">测量报告编辑及生成</a></li>
                <li class="nav-item"><a href="../planoMiller/" class="nav-link">龙门铣床加工系统数据输出</a></li>
                <li class="nav-item"><a href="../robotMachine/" class="nav-link">多机器人加工系统数据输出</a></li>
            </ul>
        </div>
    </div>
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="sl-header" style="background-color: #033f75">
      <div class="sl-header-left">
        <div class="navicon-left hidden-lg-up" style="background-color: #044b8c"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="navicon-left hidden-md-down" style="background-color: #044b8c"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
      </div><!-- sl-header-left -->
      <div class="sl-header-right">
        <nav class="nav">
          <div class="dropdown">
            <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
              <span class="logged-name">开发团队<span class="hidden-md-down"> 北航数字化设计与制造技术实验室</span></span>
            </a>
            <div class="dropdown-menu dropdown-menu-header wd-200" style="background-color:#033f75">
              <ul class="list-unstyled user-profile-nav">
                <li><a href=""><i class="ion-ios-book-outline"></i> 软件概述</a></li>
                <li><a href=""><i class="ion-ios-person-outline"></i> 了解更多</a></li>
                <li><a href=""><i class="ion-ios-email-outline"></i> 联系我们</a></li>
                <li><a href="https://www.cnblogs.com/monkiki/"><i class="ion-ios-information-outline"></i> 开发人员博客</a></li>
              </ul>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </nav>
      </div><!-- sl-header-right -->
    </div><!-- sl-header -->
    <!-- ########## END: HEAD PANEL ########## -->

    {% endblock %}
    <!-- ########## START: MAIN PANEL ########## -->
    {% block main %}
    <div class="sl-mainpanel">
        <div style="display:flex">
            <div class="container" style="flex:1;padding-right:0px;padding-left:0px">
                <div style="height:15px"></div>
                <div class="card container" style="margin-left:0px;height:860px">
                    <div style="height:15px"></div>
                    <span>
                        <button class="btn-success" type="button" id="updateList2" style="font-size:18px;width:110px;height:35px;border-radius:8px" onclick="updateList2()"><i class="fa fa-refresh"></i> 更新列表</button>
                        <label style="font-size:18px">选择待检测日志</label>
                        <select id="selectLog" style="font-size:18px;background:rgba(0,0,0,0.08);width:250px;height:35px;border-radius:8px" onchange="selectLog()">
                            <option value ="0">请先点击左侧“更新列表”</option>
                        </select>
                        <button class="btn-success" type="button" id="ConstraintCheck" style="font-size:18px;width:110px;height:35px;border-radius:8px" onclick="confirmDelete()"><i class="fa fa-puzzle-piece"></i> 双目重构</button>
                    </span>
                    <div style="height:10px"></div>
                    <HR align=center width=775 color=#987cb9>
                    <div style="height:15px"></div>
                    <div style="border:2px solid #1255a2;background:#f2f2f2">
                        <div style="display:flex">
                            <div style="width:190px;height:725px">
                                <p style="height:1px"></p>
                                <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A端孔三维坐标:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AH0" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AH1" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AH2" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AH3" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AH4" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AH5" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AH6" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AH7" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AH8" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AH9" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AH10" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AH11" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AH12" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AH13" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AH14" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AH15" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AH16" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AH17" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AH18" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AH19" style="font-size:9px;margin-left:0px;width:170px">
                                <p style="height:1px"></p>
                            </div>
                            <div style="width:190px">
                                <p style="height:1px"></p>
                                <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A端靶标三维坐标:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AT0" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AT1" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AT2" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="AT3" style="font-size:9px;margin-left:0px;width:170px">
                                <p style="height:1px"></p>
                            </div>
                            <div style="width:188px">
                                <p style="height:1px"></p>
                                <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B端孔三维坐标:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BH0" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BH1" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BH2" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BH3" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BH4" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BH5" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BH6" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BH7" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BH8" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BH9" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BH10" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BH11" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BH12" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BH13" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BH14" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BH15" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BH16" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BH17" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BH18" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BH19" style="font-size:9px;margin-left:0px;width:170px">
                                <p style="height:1px"></p>
                            </div>
                            <div style="width:190px">
                                <p style="height:1px"></p>
                                <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B端靶标三维坐标:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BT0" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BT1" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BT2" style="font-size:9px;margin-left:0px;width:170px">
                                <div style="height:10px"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="BT3" style="font-size:9px;margin-left:0px;width:170px">
                                <p style="height:1px"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="border:3px solid;float:left;height:400px;color:#d8dce3"></div>
            <div class="container" style="flex:1;padding-right:0px;padding-left:0px">
                <div style="height:15px"></div>
                <div class="card container" style="margin-left:0px;height:860px">
                    <div style="height:20px"></div>
                    <div id="ACylinder" style="height:400px;width:770px">
                            <!--这里面放A端三维模型-->
                    </div>
                    <div style="height:20px"></div>
                    <div id="BCylinder" style="height:400px;width:770px">
                            <!--这里面放B端三维模型-->
                    </div>
                </div>
            </div>
        </div>
        <div style="height:40px"></div>
        <div>
            <footer class="sl-footer" style="background-color:#044b8c;height:40px">
            <div>
                <p align="center" style="color:white;margin-bottom: 0px;">Copyright &copy; 2018. <strong>Starlight</strong>. All Rights Reserved. Made by BUAA <strong>Laboratory of Digital Design and Manufacturing</strong>.</p>
            </div>
            </footer>
        </div>
    </div>


    {% endblock %}

    {% block js %}

    {% endblock %}


    {% block write_js %}
    <script src="/static/js/three.js"></script>
    <script src="/static/js/OrbitControls.js"></script>
    <script src="/static/js/STLLoader.js"></script>
    <script>
        function updateList2() {
            $("#selectLog").html("");
            $.ajax({
                type:'GET',
                data:{'mydata':1},
                url:"/threeDRestructure/updateList2",
                dataType: 'json',
                success:function(res){
                    //console.log("第一步");
                    var options = "<option value=0>请选择待检测日志</option>";
                    for (var key in res) {
                        //console.log("第二步");
                        options += "<option value='"+key+"'>"+res[key]+"</option>";
                    }
                    $("#selectLog").append(options);
                    //console.log("第三步");
                    //window.location.reload();
                    //alert('已选择'+type+'类筒端');

                    //window.location.reload();

                },
                error: function (res) {
                    alert('失败！')
                }
            });
        }
        function selectLog(){
            var type = $("#selectLog").val();
            var type1 = $("#selectLog").find("option:selected").text();
            $.ajax({
                type:'GET',
                data:{'mydata':type},
                url:"/threeDRestructure/selectLog",
                dataType: 'json',
                success:function(res){
                    //window.location.reload();
                    if(type==0){
                        alert('误操作！请选择待检测日志！');
                    }
                    else{
                        alert('已选择'+type1+'日志');
                    }

                    //window.location.reload();
                },
                error: function (res) {
                      alert('失败！');
                }
            })
        }
    </script>
    <script>
        function confirmDelete(){
            var flag = $("#selectLog").find("option:selected").text();
            var r = confirm("确定要对"+flag+"日志进行三维重构吗？")
		    if (r == true) {
		        Constraint();
		    }
		    else {
		    }
        }
    </script>
    <script>

    </script>
    <script>
        var loader = new THREE.STLLoader();
        var loadert = new THREE.TextureLoader();
        var rendererl, scenel, cameral;
        var controlsl, groupl;
        var widthl; //窗口宽度
        var heightl; //窗口高度
        initl();
        animatel();
        function initl(){
            scenel = new THREE.Scene();
            groupl = new THREE.Group();
            scenel.add(groupl);
            var axes = new THREE.AxisHelper(200);


            scenel.add(axes);
            /**
            * 光源设置
            */
            //点光源
            var point = new THREE.PointLight(0xffffff);
            point.position.set(300, 200, 100); //点光源位置
            scenel.add(point); //点光源添加到场景中
            //环境光
            var ambient = new THREE.AmbientLight(0x444444);
            scenel.add(ambient);
            console.log(scenel)
            console.log(scenel.children)
            /**
            * 相机设置
            */
            widthl = 770; //窗口宽度
            heightl = 400; //窗口高度
            var k = widthl / heightl; //窗口宽高比
            var s = 300; //三维场景显示范围控制系数，系数越大，显示的范围越大
            //创建相机对象
            cameral = new THREE.OrthographicCamera(-s * k, s * k, s, -s, 1, 1000);
            cameral.position.set(300, 300, 300); //设置相机位置
            cameral.lookAt(scenel.position); //设置相机方向(指向的场景对象)
            /**
            * 创建渲染器对象
            */
            rendererl = new THREE.WebGLRenderer({antialias:true});
            rendererl.setSize(widthl, heightl);//设置渲染区域尺寸
            rendererl.setClearColor(0xCAE1FF, 1); //设置背景颜色
            var container = document.getElementById("ACylinder");
            container.appendChild(rendererl.domElement); //body元素中插入canvas对象
            //执行渲染操作   指定场景、相机作为参数
            renderl();
            controlsl = new THREE.OrbitControls(cameral,rendererl.domElement);//创建控件对象
            controlsl.addEventListener('change', renderl);//监听鼠标、键盘事件
            window.addEventListener('resize', onWindowResizel, false);
            window.addEventListener("mousemove", onDocumentMouseMovel, false );
        }
        function renderl(){
            rendererl.render(scenel, cameral);
        }
        function animatel() {
            rendererl.render( scenel, cameral );
            requestAnimationFrame( animatel );
        }
        function onWindowResizel() {
            cameral.aspect = widthl / heightl;
            cameral.updateProjectionMatrix();
            rendererl.setSize( widthl, heightl );
        }
        var selectedObject = null;
        function onDocumentMouseMovel(event) {

            event.preventDefault();
            if ( selectedObject ) {
                //selectedObject.material.color.set('#FFFFFF');
                selectedObject.material.color.b = selectedObject.material.color.b-0.5;
                selectedObject.material.color.g = selectedObject.material.color.g-0.5;
                selectedObject.material.color.r = selectedObject.material.color.r-0.5;
                selectedObject = null;
            }
            var intersects = getIntersectsl(event.layerX,event.layerY );
            if ( intersects.length > 0 &&selectedObject!=intersects[0].object) {
                var res = intersects.filter( function ( res ) {
                    return res && res.object;
                } )[0];
                if ( res && res.object ) {
                    selectedObject = res.object;
                    selectedObject.material.color.b = selectedObject.material.color.b+0.5;
                    selectedObject.material.color.g = selectedObject.material.color.g+0.5;
                    selectedObject.material.color.r = selectedObject.material.color.r+0.5;
                    //selectedObject.material.color.set('#00FFFF');
                }
            }
        }
        var raycaster = new THREE.Raycaster();
        var mouseVector = new THREE.Vector3();
        function getIntersectsl( x, y ) {
            x = ( x / widthl ) * 2 - 1;
            y = - ( y / heightl ) * 2 + 1;
            mouseVector.set( x, y, 0.5 );
            raycaster.setFromCamera( mouseVector, cameral );
            return raycaster.intersectObject(groupl,true);
        }
    </script>
    <script>
        var rendererr, scener, camerar;
        var controlsr, groupr;
        var widthr; //窗口宽度
        var heightr; //窗口高度
        initr();
        animater();
        function initr(){
            scener = new THREE.Scene();
            groupr = new THREE.Group();
            scener.add(groupr);
            var axes = new THREE.AxisHelper(200);


            scener.add(axes);
            /**
            * 光源设置
            */
            //点光源
            var point = new THREE.PointLight(0xffffff);
            point.position.set(300, 200, 100); //点光源位置
            scener.add(point); //点光源添加到场景中
            //环境光
            var ambient = new THREE.AmbientLight(0x444444);
            scener.add(ambient);
            console.log(scener)
            console.log(scener.children)
            /**
            * 相机设置
            */
            widthr = 770; //窗口宽度
            heightr = 400; //窗口高度
            var k = widthr / heightr; //窗口宽高比
            var s = 300; //三维场景显示范围控制系数，系数越大，显示的范围越大
            //创建相机对象
            camerar = new THREE.OrthographicCamera(-s * k, s * k, s, -s, 1, 1000);
            camerar.position.set(300, 300, 300); //设置相机位置
            camerar.lookAt(scener.position); //设置相机方向(指向的场景对象)
            /**
            * 创建渲染器对象
            */
            rendererr = new THREE.WebGLRenderer({antialias:true});
            rendererr.setSize(widthr, heightr);//设置渲染区域尺寸
            rendererr.setClearColor(0xCAE1FF, 1); //设置背景颜色
            var container = document.getElementById("BCylinder");
            container.appendChild(rendererr.domElement); //body元素中插入canvas对象
            //执行渲染操作   指定场景、相机作为参数
            renderr();
            controlsr = new THREE.OrbitControls(camerar,rendererr.domElement);//创建控件对象
            controlsr.addEventListener('change', renderr);//监听鼠标、键盘事件
            window.addEventListener('resize', onWindowResizer, false);
            window.addEventListener("mousemove", onDocumentMouseMover, false );
        }
        function renderr(){
            rendererr.render(scener, camerar);
        }
        function animater() {
            rendererr.render( scener, camerar );
            requestAnimationFrame( animater );
        }
        function onWindowResizer() {
            camerar.aspect = widthr / heightr;
            camerar.updateProjectionMatrix();
            rendererr.setSize( widthr, heightr );
        }
        var selectedObject = null;
        function onDocumentMouseMover(event) {

            event.preventDefault();
            if ( selectedObject ) {
                //selectedObject.material.color.set('#FFFFFF');
                selectedObject.material.color.b = selectedObject.material.color.b-0.5;
                selectedObject.material.color.g = selectedObject.material.color.g-0.5;
                selectedObject.material.color.r = selectedObject.material.color.r-0.5;
                selectedObject = null;
            }
            var intersects = getIntersectsl(event.layerX,event.layerY );
            if ( intersects.length > 0 &&selectedObject!=intersects[0].object) {
                var res = intersects.filter( function ( res ) {
                    return res && res.object;
                } )[0];
                if ( res && res.object ) {
                    selectedObject = res.object;
                    selectedObject.material.color.b = selectedObject.material.color.b+0.5;
                    selectedObject.material.color.g = selectedObject.material.color.g+0.5;
                    selectedObject.material.color.r = selectedObject.material.color.r+0.5;
                    //selectedObject.material.color.set('#00FFFF');
                }
            }
        }
        var raycaster = new THREE.Raycaster();
        var mouseVector = new THREE.Vector3();
        function getIntersectsr( x, y ) {
            x = ( x / widthr ) * 2 - 1;
            y = - ( y / heightr ) * 2 + 1;
            mouseVector.set( x, y, 0.5 );
            raycaster.setFromCamera( mouseVector, camerar );
            return raycaster.intersectObject(groupr,true);
        }
    </script>
    <script>
        function Constraint(){
            var flag = $("#selectLog").find("option:selected").text();
            $.ajax({
                type:'GET',
                data:{'flag':flag},
                url:"/threeDRestructure/Constraint",
                dataType: 'json',
                success:function(res){
                    alert('成功！');

                    for(var i=0;i<20;i++){
                        if(i>=res["AH"].length){
                            break;
                        }
                        document.getElementById("AH"+i).value = res["AH"][i];
                        AHX[i] = res["AH"][i][0];
                        AHY[i] = res["AH"][i][1];
                        AHZ[i] = res["AH"][i][2];
                    }
                    loader.load("/static/model/target.stl", function (geometry1) {
                        //APOs
                        for(var i=0;i<4;i++){
                            document.getElementById("AT"+i).value = res["AT"][i];
                            console.log(res["AT"][i]);
                            var material1 = new THREE.MeshLambertMaterial({color: 0xCCCCCC});
                            var mesh1 = new THREE.Mesh(geometry1,material1);
                            //mesh1.rotation.x = -0.5 * Math.PI;
                            //mesh1.rotation.z = -0.5 * Math.PI;
                            mesh1.position.set(res["AT"][i][0]*0.1,res["AT"][i][1]*0.1,res["AT"][i][2]*0.1);
                            mesh1.scale.set(0.1, 0.1, 0.1); //缩放
                            var group1 = new THREE.Group();
                            group1.add(mesh1);
                            group.add(group1);
                        }
                    });
                    for(var i=0;i<20;i++){
                        if(i>=res["BH"].length){
                            break;
                        }
                        document.getElementById("BH"+i).value = res["BH"][i];
                        BHX[i] = res["BH"][i][0];
                        BHY[i] = res["BH"][i][1];
                        BHZ[i] = res["BH"][i][2];
                    }
                    for(var i=0;i<4;i++){
                        document.getElementById("BT"+i).value = res["BT"][i];
                        BTX[i] = res["BT"][i][0];
                        BTY[i] = res["BT"][i][1];
                        BTZ[i] = res["BT"][i][2];
                    }
<!--                    loader.load("/static/model/target.stl", function (geometry1) {-->
<!--                        //APOs-->
<!--                        var material1 = new THREE.MeshLambertMaterial({color: 0xCCCCCC});-->
<!--                        var mesh1 = new THREE.Mesh(geometry1,material1);-->
<!--                        //mesh1.rotation.x = -0.5 * Math.PI;-->
<!--                        //mesh1.rotation.z = -0.5 * Math.PI;-->
<!--                        mesh1.position.set(res["AT"][0][0]*0.1,res["AT"][0][1]*0.1,res["AT"][0][2]*0.1);-->
<!--                        mesh1.scale.set(0.1, 0.1, 0.1); //缩放-->
<!--                        var group1 = new THREE.Group();-->
<!--                        group1.add(mesh1);-->
<!--                        group.add(group1);-->
<!--                    });-->
                },
                error: function (res) {
                    alert('失败！')
                }
            })
        }
    </script>
    {% endblock %}

    <!-- ######### END: MAIN PANEL ########## -->
    {% block my_js %}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/perfect-scrollbar.jquery.js"></script>
    <script src="/static/js/jquery.sparkline.min.js"></script>
    <script src="/static/js/d3.js"></script>
    <script src="/static/js/rickshaw.min.js"></script>
    <script src="/static/js/chart.js"></script>
    <script src="/static/js/jquery.flot.js"></script>
    <script src="/static/js/jquery.flot.pie.js"></script>
    <script src="/static/js/jquery.flot.resize.js"></script>
    <script src="/static/js/jquery.flot.spline.js"></script>
    <script src="/static/js/starlight.js"></script>
    <script src="/static/js/resizesensor.js"></script>
    <script src="/static/js/dashboard.js"></script>
    {% endblock %}

</body>
</html>