<!DOCTYPE html>
{%  extends "publicNav.html" %}
<html lang="en">
<head>
    {% block head_meta %}
    <meta charset="UTF-8">
    {% block title %}<title>大型细长筒类构件位姿原位测量系统</title>{% endblock %}
    {% endblock %}
    <!--CSS标签 -->

    {% block css %}
    <link href="../static/css/test_css.css" rel="stylesheet">
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/ionicons.css" rel="stylesheet">
    <link href="../static/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../static/css/rickshaw.min.css" rel="stylesheet">
    {% endblock %}
    <!--CSS结束 -->
    {% block my_css %}
    <link rel="stylesheet" href="../static/css/starlight.css">
    {% endblock %}

</head>
<body>
    {% block header %}
    <!-- ########## START: LEFT PANEL ########## -->
    <div class="sl-logo" style="background-color:#1255a2"><a href=""><img src="../static/picture/logo.jpg" class="wd-30 rounded-circle"></img> BUAA</a></div>
    <div class="sl-sideleft">
        <label class="sidebar-label">功能模块</label>
        <div class="sl-sideleft-menu">
            <a href="index.html" class="sl-menu-link">
                <div class="sl-menu-item">
                    <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
                    <span class="menu-item-label">测量系统初始化</span>
			        <i class="menu-item-arrow fa fa-angle-down"></i>
                </div><!-- menu-item -->
            </a><!-- sl-menu-link -->
	        <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="../cameraCalibration/" class="nav-link">测量场标定及日志管理</a></li>
            </ul>
            <a href="#" class="sl-menu-link active">
            <div class="sl-menu-item">
                <i class="menu-item-icon icon ion-ios-gear-outline tx-24"></i>
                <span class="menu-item-label">视觉测量及位姿计算</span>
                <i class="menu-item-arrow fa fa-angle-down"></i>
            </div><!-- menu-item -->
            </a>
            <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="../testMeasure/" class="nav-link">目标识别检测及定位</a></li>
                <li class="nav-item"><a href="../threeDRestructure/" class="nav-link">关键特征点三维重构</a></li>
                <li class="nav-item"><a href="../poseCalculate/" class="nav-link">筒段构件关键位姿计算</a></li>
            </ul>
            <a href="#" class="sl-menu-link">
                <div class="sl-menu-item">
                    <i class="menu-item-icon ion-ios-pie-outline tx-20"></i>
                    <span class="menu-item-label">测量系统结果输出</span>
			        <i class="menu-item-arrow fa fa-angle-down"></i>
                </div><!-- menu-item -->
            </a><!-- sl-menu-link -->
	        <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="../resultsAnalysis/" class="nav-link">测量报告编辑及生成</a></li>
                <li class="nav-item"><a href="../planoMiller/" class="nav-link">龙门铣床加工系统数据输出</a></li>
                <li class="nav-item"><a href="../robotMachine/" class="nav-link">多机器人加工系统数据输出</a></li>
            </ul>
        </div>
    </div>
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="sl-header" style="background-color: #033f75">
      <div class="sl-header-left">
        <div class="navicon-left hidden-lg-up" style="background-color: #044b8c"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="navicon-left hidden-md-down" style="background-color: #044b8c"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
      </div><!-- sl-header-left -->
      <div class="sl-header-right">
        <nav class="nav">
          <div class="dropdown">
            <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
              <span class="logged-name">开发团队<span class="hidden-md-down"> 北航数字化设计与制造技术实验室</span></span>
            </a>
            <div class="dropdown-menu dropdown-menu-header wd-200" style="background-color:#033f75">
              <ul class="list-unstyled user-profile-nav">
                <li><a href=""><i class="ion-ios-book-outline"></i> 软件概述</a></li>
                <li><a href=""><i class="ion-ios-person-outline"></i> 了解更多</a></li>
                <li><a href=""><i class="ion-ios-email-outline"></i> 联系我们</a></li>
                <li><a href="https://www.cnblogs.com/monkiki/"><i class="ion-ios-information-outline"></i> 开发人员博客</a></li>
              </ul>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </nav>
      </div><!-- sl-header-right -->
    </div><!-- sl-header -->
    <!-- ########## END: HEAD PANEL ########## -->

    {% endblock %}
    <!-- ########## START: MAIN PANEL ########## -->
    {% block main %}
    <div class="sl-mainpanel">
        <div style="display:flex">
            <div class="container" style="flex:1;padding-right:0px;padding-left:0px">
                <div style="height:15px"></div>
                <div class="card container" style="margin-left:0px">
                    <div style="height:15px"></div>
                    <span>
                        <button class="btn-success" type="button" id="updateList2" style="font-size:18px;width:110px;height:35px;border-radius:8px" onclick="updateList2()"><i class="fa fa-refresh"></i> 更新列表</button>
                        <label style="font-size:18px">选择待检测日志</label>
                        <select id="selectLog" style="font-size:18px;background:rgba(0,0,0,0.08);width:250px;height:35px;border-radius:8px" onchange="selectLog()">
                            <option value ="0">请先点击左侧“更新列表”</option>
                        </select>
                        <button class="btn-success" type="button" id="ConstraintCheck" style="font-size:18px;width:110px;height:35px;border-radius:8px" onclick="confirmDelete()"><i class="fa fa-puzzle-piece"></i> 计算位姿</button>
                    </span>
                    <div style="height:10px"></div>
                    <HR align=center width=775 color=#987cb9>
                    <div style="height:15px"></div>
                    <div style="display:flex">
                        <div style="border:2px solid #1255a2;background:#f2f2f2;width:320px">
                            <div style="width:300px">
                                <p style="height:1px"></p>
                                <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;轴线向量:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="Axis" style="font-size:9px;margin-left:0px;width:280px">
                                <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;象限偏角:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="Angle" style="font-size:9px;margin-left:0px;width:280px">
                                <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A端形心坐标:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="A_center" style="font-size:9px;margin-left:0px;width:280px">
                                <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B端形心坐标:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="B_center" style="font-size:9px;margin-left:0px;width:280px">
                                <p style="height:1px"></p>
                            </div>
                        </div>
                        <div style="width:20px"></div>
                        <div style="width:15px"></div>
                        <div id="history1" style="width:200px;border:2px solid #1255a2">
                            <!--这里放条件文本-->
                        </div>
                        <div style="width:30px;"></div>
                        <div id="history2" style="width:200px;border:2px solid #1255a2">
                            <!--这里放条件文本-->
                        </div>
                        <div style="width:20px"></div>
                    </div>
                    <div style="height:30px"></div>
                </div>
                <div style="height:15px"></div>
                <div class="card container" style="margin-left:0px;height:377px">
                    <div id="theChart1" style="width:100%;height:100%"></div>
                </div>
            </div>
            <div style="border:3px solid;float:left;height:400px;color:#d8dce3"></div>
            <div class="container" style="flex:1;padding-right:0px;padding-left:0px">
                <div style="height:15px"></div>
                <div class="card container" style="margin-left:0px">
                    <div style="height:20px"></div>
                    <div id="wholeCylinder" style="height:700px;width:700px">
                            <!--这里面放全筒端三维模型-->
                    </div>
                    <div style="height:20px"></div>
                </div>
            </div>
        </div>
        <div style="height:40px"></div>
        <div>
            <footer class="sl-footer" style="background-color:#044b8c;height:40px">
            <div>
                <p align="center" style="color:white;margin-bottom: 0px;">Copyright &copy; 2018. <strong>Starlight</strong>. All Rights Reserved. Made by BUAA <strong>Laboratory of Digital Design and Manufacturing</strong>.</p>
            </div>
            </footer>
        </div>
    </div>


    {% endblock %}

    {% block js %}

    {% endblock %}


    {% block write_js %}
    <script>
        function updateList2() {
            $("#selectLog").html("");
            $.ajax({
                type:'GET',
                data:{'mydata':1},
                url:"/poseCalculate/updateList",
                dataType: 'json',
                success:function(res){
                    //console.log("第一步");
                    var options = "<option value=0>请选择待检测日志</option>";
                    for (var key in res) {
                        //console.log("第二步");
                        options += "<option value='"+key+"'>"+res[key]+"</option>";
                    }
                    $("#selectLog").append(options);
                    //console.log("第三步");
                    //window.location.reload();
                    //alert('已选择'+type+'类筒端');

                    //window.location.reload();

                },
                error: function (res) {
                    alert('失败！')
                }
            });
        }
        function selectLog(){
            var type = $("#selectLog").val();
            var type1 = $("#selectLog").find("option:selected").text();
            $.ajax({
                type:'GET',
                data:{'mydata':type},
                url:"/poseCalculate/selectLog",
                dataType: 'json',
                success:function(res){
                    //window.location.reload();
                    if(type==0){
                        alert('误操作！请选择待检测日志！')
                    }
                    else{
                        alert('已选择'+type1+'日志');
                    }

                    //window.location.reload();
                },
                error: function (res) {
                      alert('失败！')
                }
            })
        }
    </script>
    <script>
        function confirmDelete(){
            var flag = $("#selectLog").find("option:selected").text();
            var r = confirm("确定要对"+flag+"日志进行筒段位姿计算吗？")
		    if (r == true) {
		        Calculate();
		    }
		    else {
		    }
        }
        function Calculate(){
            var flag = $("#selectLog").find("option:selected").text();
            $.ajax({
                type:'GET',
                data:{'flag':flag},
                url:"/poseCalculate/Calculate",
                dataType: 'json',
                success:function(res){
                    alert('位姿计算完成！')
                    document.getElementById("Axis").value=res["Axis"];
                    document.getElementById("Angle").value=res["Angle"];
                    document.getElementById("A_center").value=res["A_center"];
                    document.getElementById("B_center").value=res["B_center"];
                },
                error: function (res) {
                    alert('失败！')
                }
            })
        }
    </script>
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/three.js"></script>
    <script src="/static/js/OrbitControls.js"></script>
    <script src="/static/js/STLLoader.js"></script>
    <script>
        var myChart1 = echarts.init(document.getElementById("theChart1"));

        // 指定图表的配置项和数据
        var option1 = {
            title: {
                text: '测量系统误差统计'
            },
            tooltip: {},
            legend: {
                data:['双目标定误差']
            },
            xAxis: {
                data: ["1","2","3","4","5","6"]
            },
            yAxis: {},
            series: [{
                name: '双目标定误差',
                type: 'line',
                data: [0.5, 0.2, 0.36, 0.1, 0.1, 0.2]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart1.setOption(option1);
    </script>
    <script>
        var loader = new THREE.STLLoader();
        var loadert = new THREE.TextureLoader();
        var renderer, scene, camera;
        var controls, group;
        var width; //窗口宽度
        var height; //窗口高度
        init();
        animate();
        function init(){
            scene = new THREE.Scene();
            group = new THREE.Group();
            scene.add(group);
            var axes = new THREE.AxisHelper(200);
            axes.position.set(0,-12,-100)//x,y,z,红,绿,蓝
            axes.rotateZ(Math.PI);
            //加载模型
            loader.load("/static/model/standardPadAndSupport_A.stl", function (geometry1) {
                //基准板组A
                var material1 = new THREE.MeshLambertMaterial({color: 0xCCCCCC});
                var mesh1 = new THREE.Mesh(geometry1,material1);
                mesh1.rotation.x = -0.5 * Math.PI;
                mesh1.rotation.z = -0.5 * Math.PI;
                mesh1.position.set(0,-12,-100);
                mesh1.scale.set(0.1, 0.1, 0.1); //缩放
                var group1 = new THREE.Group();
                group1.add(mesh1);
                group.add(group1);
            });
            loader.load("/static/model/standardPadAndSupport_B.stl", function (geometry2) {
                //基准板组B
                var material2 = new THREE.MeshLambertMaterial({color: 0xCCCCCC});
                var mesh2 = new THREE.Mesh(geometry2,material2);
                mesh2.rotation.x = -0.5 * Math.PI;
                mesh2.rotation.z = 0.5 * Math.PI;
                mesh2.position.set(0,-12,100);
                mesh2.scale.set(0.1, 0.1, 0.1); //缩放
                var group2 = new THREE.Group();
                group2.add(mesh2);
                group.add(group2);
            });
            loader.load("/static/model/laserTracker.stl", function (geometry3) {
                //loadert.load('/static/picture/LTcolor3.jpg',function (texture) {

                    //var material3 = new THREE.MeshLambertMaterial({
                        //map: texture // 将材质的map属性设置为加载的图片
                    //});
                    //激光跟踪仪
                    var material3 = new THREE.MeshLambertMaterial({color: 0x8A8A8A});

                    var mesh3 = new THREE.Mesh(geometry3,material3);
                    mesh3.rotation.x = -0.5 * Math.PI;
                    mesh3.rotation.z = 0.5 * Math.PI;
                    mesh3.position.set(140,-100,35);
                    mesh3.scale.set(0.1, 0.1, 0.1); //缩放
                    var group3 = new THREE.Group();
                    group3.add(mesh3);
                    group.add(group3);
                //});
            });
            loader.load("/static/model/camera.stl", function (geometry4) {
                //双目相机A
                var material4 = new THREE.MeshLambertMaterial({color: 0x242424});
                var mesh4 = new THREE.Mesh(geometry4,material4);
                mesh4.rotation.x = -0.5 * Math.PI;
                mesh4.rotation.z = Math.PI;
                mesh4.position.set(-80,-40,-240);
                mesh4.scale.set(0.1, 0.1, 0.1); //缩放
                var group4 = new THREE.Group();
                group4.add(mesh4);
                group.add(group4);
            });
            loader.load("/static/model/camera.stl", function (geometry5) {
                //双目相机B
                var material5 = new THREE.MeshLambertMaterial({color: 0x242424});
                var mesh5 = new THREE.Mesh(geometry5,material5);
                mesh5.name = "mesh5";
                mesh5.rotation.x = -0.5 * Math.PI;
                mesh5.position.set(-80,-40,240);
                mesh5.scale.set(0.1, 0.1, 0.1); //缩放
                var group5 = new THREE.Group();
                group5.add(mesh5);
                group.add(group5);
            });
            loader.load("/static/model/shortTube.stl", function (geometry6) {
                //筒段本体
                var material6 = new THREE.MeshLambertMaterial({color: 0xE5E5E5});
                var mesh6 = new THREE.Mesh(geometry6,material6);
                mesh6.rotation.x = -0.5 * Math.PI; //将模型摆正
                mesh6.rotation.z = -0.5 * Math.PI;
                mesh6.position.set(-90,-20,-35);
                mesh6.scale.set(0.1, 0.1, 0.1); //缩放
                var group6 = new THREE.Group();
                group6.add(mesh6);
                group.add(group6);
            });
            loader.load("/static/model/robot1.STL", function (geometry7) {
                //机械臂关节1
                var material7 = new THREE.MeshLambertMaterial({color: 0xEE6A50});
                var mesh7 = new THREE.Mesh(geometry7,material7);
                mesh7.rotation.x = -0.5 * Math.PI; //将模型摆正
                mesh7.position.set(-270,-97,25);
                mesh7.scale.set(0.1, 0.1, 0.1); //缩放
                var group7 = new THREE.Group();
                group7.add(mesh7);
                group.add(group7);
            });
            loader.load("/static/model/robot2.STL", function (geometry8) {
                //机械臂关节2
                var material8 = new THREE.MeshLambertMaterial({color: 0xEE6A50});
                var mesh8 = new THREE.Mesh(geometry8,material8);
                mesh8.rotation.x = -0.5 * Math.PI; //将模型摆正
                mesh8.position.set(-270,-97,25);
                mesh8.scale.set(0.1, 0.1, 0.1); //缩放
                var group8 = new THREE.Group();
                group8.add(mesh8);
                group.add(group8);
            });
            loader.load("/static/model/robot3.STL", function (geometry9) {
                //机械臂关节3
                var material9 = new THREE.MeshLambertMaterial({color: 0xEE6A50});
                var mesh9 = new THREE.Mesh(geometry9,material9);
                mesh9.rotation.x = -0.5 * Math.PI; //将模型摆正
                mesh9.position.set(-270,-97,25);
                mesh9.scale.set(0.1, 0.1, 0.1); //缩放
                var group9 = new THREE.Group();
                group9.add(mesh9);
                group.add(group9);
            });
            loader.load("/static/model/robot4.STL", function (geometry10) {
                //机械臂关节4
                var material10 = new THREE.MeshLambertMaterial({color: 0xEE6A50});
                var mesh10 = new THREE.Mesh(geometry10,material10);
                mesh10.rotation.y = 1 * Math.PI; //将模型摆正
                mesh10.rotation.z = 0.5 * Math.PI;
                mesh10.position.set(-255,3,136);

                mesh10.scale.set(0.1, 0.1, 0.1); //缩放
                var group10 = new THREE.Group();
                group10.add(mesh10);
                group.add(group10);
            });
            loader.load("/static/model/robot5.STL", function (geometry11) {
                //机械臂关节5
                var material11 = new THREE.MeshLambertMaterial({color: 0xEE6A50});
                var mesh11 = new THREE.Mesh(geometry11,material11);
                mesh11.rotation.y = 0.5 * Math.PI; //将模型摆正
                mesh11.rotation.x = -0.5 * Math.PI;
                mesh11.position.set(-366,78,22);
                mesh11.scale.set(0.1, 0.1, 0.1); //缩放
                var group11 = new THREE.Group();
                group11.add(mesh11);
                group.add(group11);
            });
            loader.load("/static/model/robot6.STL", function (geometry12) {
                //机械臂关节6
                var material12 = new THREE.MeshLambertMaterial({color: 0xEE6A50});
                var mesh12 = new THREE.Mesh(geometry12,material12);
                mesh12.rotation.y = 0.5 * Math.PI; //将模型摆正
                mesh12.rotation.x = -0.5 * Math.PI;
                mesh12.position.set(-366,78,22);
                mesh12.scale.set(0.1, 0.1, 0.1); //缩放
                var group12 = new THREE.Group();
                group12.add(mesh12);
                group.add(group12);
            });
            loader.load("/static/model/robot7.STL", function (geometry13) {
                //机械臂关节7
                var material13 = new THREE.MeshLambertMaterial({color: 0xCCCCCC});
                var mesh13 = new THREE.Mesh(geometry13,material13);
                mesh13.rotation.y = 0.5 * Math.PI; //将模型摆正
                mesh13.rotation.x = -0.5 * Math.PI;
                mesh13.position.set(-366,78,22);
                mesh13.scale.set(0.1, 0.1, 0.1); //缩放
                var group13 = new THREE.Group();
                group13.add(mesh13);
                group.add(group13);
            });
            var materials = new THREE.MeshLambertMaterial({color: 0xCCCCCC});
            var stand = new THREE.BoxGeometry(70, 3, 70);
            var meshs = new THREE.Mesh(stand, materials);
            meshs.position.set(-250,-97,3);
            var groups = new THREE.Group();
            groups.add(meshs);
            group.add(groups);
            scene.add(axes);
            loadert.load('/static/picture/ground1.jpg',function (texture) {
                //加载地面地标贴图
                var materialg = new THREE.MeshLambertMaterial({
                    map: texture // 将材质的map属性设置为加载的图片
                });
                var ground = new THREE.BoxGeometry(600, 5, 600);
                var meshg = new THREE.Mesh(ground, materialg);  // 创建这个mesh对象
                meshg.position.y = -100;
                meshg.position.x = -150;
                var groupg = new THREE.Group();
                groupg.add(meshg);
                group.add(groupg);
            });
            /**
            * 光源设置
            */
            //点光源
            var point = new THREE.PointLight(0xffffff);
            point.position.set(300, 200, 100); //点光源位置
            scene.add(point); //点光源添加到场景中
            //环境光
            var ambient = new THREE.AmbientLight(0x444444);
            scene.add(ambient);
            console.log(scene)
            console.log(scene.children)
            /**
            * 相机设置
            */
            width = 755; //窗口宽度
            height = 700; //窗口高度
            var k = width / height; //窗口宽高比
            var s = 300; //三维场景显示范围控制系数，系数越大，显示的范围越大
            //创建相机对象
            camera = new THREE.OrthographicCamera(-s * k, s * k, s, -s, 1, 1000);
            camera.position.set(300, 300, 300); //设置相机位置
            camera.lookAt(scene.position); //设置相机方向(指向的场景对象)
            /**
            * 创建渲染器对象
            */
            renderer = new THREE.WebGLRenderer({antialias:true});
            renderer.setSize(width, height);//设置渲染区域尺寸
            renderer.setClearColor(0xCAE1FF, 1); //设置背景颜色
            var container = document.getElementById("wholeCylinder");
            container.appendChild(renderer.domElement); //body元素中插入canvas对象
            //执行渲染操作   指定场景、相机作为参数
            render();
            controls = new THREE.OrbitControls(camera,renderer.domElement);//创建控件对象
            controls.addEventListener('change', render);//监听鼠标、键盘事件
            window.addEventListener('resize', onWindowResize, false);
            window.addEventListener("mousemove", onDocumentMouseMove, false );
        }
        function render(){
            renderer.render(scene, camera);
        }
        function animate() {
            renderer.render( scene, camera );
            requestAnimationFrame( animate );
        }
        function onWindowResize() {
            camera.aspect = width / height;
            camera.updateProjectionMatrix();
            renderer.setSize( width, height );
        }
        var selectedObject = null;
        function onDocumentMouseMove(event) {

            event.preventDefault();
            if ( selectedObject ) {
                //selectedObject.material.color.set('#FFFFFF');
                selectedObject.material.color.b = selectedObject.material.color.b-0.5;
                selectedObject.material.color.g = selectedObject.material.color.g-0.5;
                selectedObject.material.color.r = selectedObject.material.color.r-0.5;
                selectedObject = null;
            }
            var intersects = getIntersects(event.layerX,event.layerY );
            if ( intersects.length > 0 &&selectedObject!=intersects[0].object) {
                var res = intersects.filter( function ( res ) {
                    return res && res.object;
                } )[0];
                if ( res && res.object ) {
                    selectedObject = res.object;
                    selectedObject.material.color.b = selectedObject.material.color.b+0.5;
                    selectedObject.material.color.g = selectedObject.material.color.g+0.5;
                    selectedObject.material.color.r = selectedObject.material.color.r+0.5;
                    //selectedObject.material.color.set('#00FFFF');
                }
            }
        }
        var raycaster = new THREE.Raycaster();
        var mouseVector = new THREE.Vector3();
        function getIntersects( x, y ) {
            x = ( x / width ) * 2 - 1;
            y = - ( y / height ) * 2 + 1;
            mouseVector.set( x, y, 0.5 );
            raycaster.setFromCamera( mouseVector, camera );
            return raycaster.intersectObject(group,true);
        }
    </script>
    <script>
        var rendererl, scenel, cameral;
        var controlsl, groupl;
        var widthl; //窗口宽度
        var heightl; //窗口高度
        initl();
        animatel();
        function initl(){
            scenel = new THREE.Scene();
            groupl = new THREE.Group();
            scenel.add(groupl);
            var axes = new THREE.AxisHelper(200);
            //axes.position.set(0,-12,-100)//x,y,z,红,绿,蓝
            //axes.rotateZ(Math.PI);
            //加载模型
            loader.load("/static/model/flange1.stl", function (geometry1) {
                //基准板组A
                var material1 = new THREE.MeshLambertMaterial({color: 0x1C86EE});
                var mesh1 = new THREE.Mesh(geometry1,material1);
                //mesh1.rotation.x = -0.5 * Math.PI;
                //mesh1.rotation.z = -0.5 * Math.PI;
                //mesh1.position.set(0,-12,-100);
                mesh1.scale.set(0.1, 0.1, 0.1); //缩放
                var group1 = new THREE.Group();
                group1.add(mesh1);
                groupl.add(group1);
            });
            scenel.add(axes);
            var point = new THREE.PointLight(0xffffff);
            point.position.set(100, 0, 0); //点光源位置
            scenel.add(point); //点光源添加到场景中
            //环境光
            var ambient = new THREE.AmbientLight(0x444444);
            scenel.add(ambient);
            console.log(scenel);
            console.log(scenel.children);
            /**
            * 相机设置
            */
            widthl = 196; //窗口宽度
            heightl = 201; //窗口高度
            var k = widthl / heightl; //窗口宽高比
            var s = 70; //三维场景显示范围控制系数，系数越大，显示的范围越大
            //创建相机对象
            cameral = new THREE.OrthographicCamera(-s * k, s * k, s, -s, 1, 1000);
            cameral.position.set(10,0,0); //设置相机位置
            cameral.lookAt(scenel.position); //设置相机方向(指向的场景对象)
            /**
            * 创建渲染器对象
            */
            rendererl = new THREE.WebGLRenderer({antialias:true});
            rendererl.setSize(widthl, heightl);//设置渲染区域尺寸
            rendererl.setClearColor(0xCAE1FF, 1); //设置背景颜色
            var container = document.getElementById("history1");
            container.appendChild(rendererl.domElement); //body元素中插入canvas对象
            //执行渲染操作   指定场景、相机作为参数
            renderl();
        }
        function renderl(){
            rendererl.render(scenel, cameral);
        }
        function animatel() {
            rendererl.render( scenel, cameral );
            requestAnimationFrame( animatel );
        }
    </script>
    <script>
        var rendererr, scener, camerar;
        var controlsr, groupr;
        var widthr; //窗口宽度
        var heightr; //窗口高度
        initr();
        animater();
        function initr(){
            scener = new THREE.Scene();
            groupr = new THREE.Group();
            scener.add(groupr);
            var axes = new THREE.AxisHelper(200);
            //axes.position.set(0,-12,-100)//x,y,z,红,绿,蓝
            axes.rotateY(-0.5 * Math.PI);
            //加载模型
            loader.load("/static/model/shortTube.stl", function (geometry1) {
                //基准板组A
                var material1 = new THREE.MeshLambertMaterial({color: 0x1C86EE});
                var mesh1 = new THREE.Mesh(geometry1,material1);
                //mesh1.rotation.x = -0.5 * Math.PI;
                mesh1.rotation.y = -0.5 * Math.PI;
                //mesh1.rotation.z = -0.5 * Math.PI;
                mesh1.position.set(0,0,-38);
                mesh1.scale.set(0.1, 0.1, 0.1); //缩放
                var group1 = new THREE.Group();
                group1.add(mesh1);
                groupr.add(group1);
            });
            scener.add(axes);
            var point = new THREE.PointLight(0xffffff);
            point.position.set(100, 0, 0); //点光源位置
            scener.add(point); //点光源添加到场景中
            //环境光
            var ambient = new THREE.AmbientLight(0x444444);
            scener.add(ambient);
            console.log(scener)
            console.log(scener.children)
            /**
            * 相机设置
            */
            widthr = 196; //窗口宽度
            heightr = 201; //窗口高度
            var k = widthr / heightr; //窗口宽高比
            var s = 70; //三维场景显示范围控制系数，系数越大，显示的范围越大
            //创建相机对象
            camerar = new THREE.OrthographicCamera(-s * k, s * k, s, -s, 1, 1000);
            camerar.position.set(100,0,0); //设置相机位置
            camerar.lookAt(scener.position); //设置相机方向(指向的场景对象)
            /**
            * 创建渲染器对象
            */
            rendererr = new THREE.WebGLRenderer({antialias:true});
            rendererr.setSize(widthr, heightr);//设置渲染区域尺寸
            rendererr.setClearColor(0xCAE1FF, 1); //设置背景颜色
            var container = document.getElementById("history2");
            container.appendChild(rendererr.domElement); //body元素中插入canvas对象
            //执行渲染操作   指定场景、相机作为参数
            renderr();
        }
        function renderr(){
            rendererr.render(scener, camerar);
        }
        function animater() {
            rendererr.render( scener, camerar );
            requestAnimationFrame( animater );
        }
    </script>
    {% endblock %}

    <!-- ######### END: MAIN PANEL ########## -->
    {% block my_js %}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/perfect-scrollbar.jquery.js"></script>
    <script src="/static/js/jquery.sparkline.min.js"></script>
    <script src="/static/js/d3.js"></script>
    <script src="/static/js/rickshaw.min.js"></script>
    <script src="/static/js/chart.js"></script>
    <script src="/static/js/jquery.flot.js"></script>
    <script src="/static/js/jquery.flot.pie.js"></script>
    <script src="/static/js/jquery.flot.resize.js"></script>
    <script src="/static/js/jquery.flot.spline.js"></script>
    <script src="/static/js/starlight.js"></script>
    <script src="/static/js/resizesensor.js"></script>
    <script src="/static/js/dashboard.js"></script>
    {% endblock %}

</body>
</html>