<!DOCTYPE html>
{%  extends "publicNav.html" %}
<html lang="en">
<head>
    {% block head_meta %}
    <meta charset="UTF-8">
    {% block title %}<title>大型细长筒类构件位姿原位测量系统</title>{% endblock %}
    {% endblock %}
    <!--CSS标签 -->

    {% block css %}
    <link href="../static/css/test_css.css" rel="stylesheet">
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/ionicons.css" rel="stylesheet">
    <link href="../static/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../static/css/rickshaw.min.css" rel="stylesheet">
    {% endblock %}
    <!--CSS结束 -->
    {% block my_css %}
    <link rel="stylesheet" href="../static/css/starlight.css">
    {% endblock %}

</head>
<body>
    {% block header %}
    <!-- ########## START: LEFT PANEL ########## -->
    <div class="sl-logo" style="background-color:#1255a2"><a href=""><img src="../static/picture/logo.jpg" class="wd-30 rounded-circle"></img> BUAA</a></div>
    <div class="sl-sideleft">
        <label class="sidebar-label">功能模块</label>
        <div class="sl-sideleft-menu">
            <a href="index.html" class="sl-menu-link">
                <div class="sl-menu-item">
                    <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
                    <span class="menu-item-label">测量系统初始化</span>
			        <i class="menu-item-arrow fa fa-angle-down"></i>
                </div><!-- menu-item -->
            </a><!-- sl-menu-link -->
	        <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="../cameraCalibration/" class="nav-link">测量场标定及日志管理</a></li>
                <li class="nav-item"><a href="../prioriImport/" class="nav-link">先验加工数据导入及管理</a></li>
            </ul>
            <a href="#" class="sl-menu-link active">
            <div class="sl-menu-item">
                <i class="menu-item-icon icon ion-ios-gear-outline tx-24"></i>
                <span class="menu-item-label">视觉测量及位姿计算</span>
                <i class="menu-item-arrow fa fa-angle-down"></i>
            </div><!-- menu-item -->
            </a>
            <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="../testMeasure/" class="nav-link">目标识别检测及定位</a></li>
                <li class="nav-item"><a href="../threeDRestructure/" class="nav-link">关键特征点三维重构</a></li>
                <li class="nav-item"><a href="../poseCalculate/" class="nav-link">筒段构件关键位姿计算</a></li>
            </ul>
            <a href="#" class="sl-menu-link">
                <div class="sl-menu-item">
                    <i class="menu-item-icon ion-ios-pie-outline tx-20"></i>
                    <span class="menu-item-label">测量系统结果输出</span>
			        <i class="menu-item-arrow fa fa-angle-down"></i>
                </div><!-- menu-item -->
            </a><!-- sl-menu-link -->
	        <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="../resultsAnalysis/" class="nav-link">测量报告编辑及生成</a></li>
                <li class="nav-item"><a href="../planoMiller/" class="nav-link">龙门铣床加工系统数据输出</a></li>
                <li class="nav-item"><a href="../robotMachine/" class="nav-link">多机器人加工系统数据输出</a></li>
            </ul>
        </div>
    </div>
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="sl-header" style="background-color: #033f75">
      <div class="sl-header-left">
        <div class="navicon-left hidden-lg-up" style="background-color: #044b8c"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="navicon-left hidden-md-down" style="background-color: #044b8c"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
      </div><!-- sl-header-left -->
      <div class="sl-header-right">
        <nav class="nav">
          <div class="dropdown">
            <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
              <span class="logged-name">开发团队<span class="hidden-md-down"> 北航数字化设计与制造技术实验室</span></span>
            </a>
            <div class="dropdown-menu dropdown-menu-header wd-200" style="background-color:#033f75">
              <ul class="list-unstyled user-profile-nav">
                <li><a href=""><i class="ion-ios-book-outline"></i> 软件概述</a></li>
                <li><a href=""><i class="ion-ios-person-outline"></i> 了解更多</a></li>
                <li><a href=""><i class="ion-ios-email-outline"></i> 联系我们</a></li>
                <li><a href="https://www.cnblogs.com/monkiki/"><i class="ion-ios-information-outline"></i> 开发人员博客</a></li>
              </ul>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </nav>
      </div><!-- sl-header-right -->
    </div><!-- sl-header -->
    <!-- ########## END: HEAD PANEL ########## -->

    {% endblock %}
    <!-- ########## START: MAIN PANEL ########## -->
    {% block main %}
    <div class="sl-mainpanel">
        <div style="display:flex">
            <div class="container" style="flex:1;padding-right:0px;padding-left:0px">
                <div style="height:15px"></div>
                <div class="card container" style="margin-left:0px">
                    <div style="height:15px"></div>
                    <span>
                        <button class="btn-success" type="button" id="updateList2" style="font-size:18px;width:110px;height:35px;border-radius:8px" onclick="updateList2()"><i class="fa fa-refresh"></i> 更新列表</button>
                        <label style="font-size:18px">选择待检测日志</label>
                        <select id="selectLog" style="font-size:18px;background:rgba(0,0,0,0.08);width:250px;height:35px;border-radius:8px" onchange="selectLog()">
                            <option value ="0">请先点击左侧“更新列表”</option>
                        </select>
                        <button class="btn-success" type="button" id="ConstraintCheck" style="font-size:18px;width:110px;height:35px;border-radius:8px" onclick="confirmDelete()"><i class="fa fa-puzzle-piece"></i> 计算位姿</button>
                    </span>
                    <div style="height:10px"></div>
                    <HR align=center width=775 color=#987cb9>
                    <div style="height:15px"></div>
                    <div style="display:flex">
                        <div style="border:2px solid #1255a2;background:#f2f2f2;width:210px">
                            <div style="width:190px">
                                <p style="height:1px"></p>
                                <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;轴线向量:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="Axis" style="font-size:9px;margin-left:0px;width:170px">
                                <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;象限偏角:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="Angle" style="font-size:9px;margin-left:0px;width:170px">
                                <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A端形心坐标:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="A_center" style="font-size:9px;margin-left:0px;width:170px">
                                <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B端形心坐标:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="B_center" style="font-size:9px;margin-left:0px;width:170px">
                                <p style="height:1px"></p>
                            </div>
                        </div>
                        <div style="width:20px"></div>
                        <div style="width:15px"></div>
                        <div id="history1" style="width:540px;border:2px solid #1255a2">
                            <!--这里面放位姿计算历史-->
                        </div>
                        <div style="width:20px"></div>
                    </div>
                    <div style="height:30px"></div>
                </div>
                <div style="height:15px"></div>
                <div class="card container" style="margin-left:0px;height:377px">
                    <div id="theChart1" style="width:100%;height:100%"></div>
                </div>
            </div>
            <div style="border:3px solid;float:left;height:400px;color:#d8dce3"></div>
            <div class="container" style="flex:1;padding-right:0px;padding-left:0px">
                <div style="height:15px"></div>
                <div class="card container" style="margin-left:0px">
                    <div style="height:20px"></div>
                    <div id="wholeCylinder" style="height:700px;width:700px">
                            <!--这里面放全筒端三维模型-->
                    </div>
                    <div style="height:20px"></div>
                </div>
            </div>
        </div>
        <div style="height:40px"></div>
        <div>
            <footer class="sl-footer" style="background-color:#044b8c;height:40px">
            <div>
                <p align="center" style="color:white;margin-bottom: 0px;">Copyright &copy; 2018. <strong>Starlight</strong>. All Rights Reserved. Made by BUAA <strong>Laboratory of Digital Design and Manufacturing</strong>.</p>
            </div>
            </footer>
        </div>
    </div>


    {% endblock %}

    {% block js %}

    {% endblock %}


    {% block write_js %}
    <script>
        function updateList2() {
            $("#selectLog").html("");
            $.ajax({
                type:'GET',
                data:{'mydata':1},
                url:"/poseCalculate/updateList",
                dataType: 'json',
                success:function(res){
                    //console.log("第一步");
                    var options = "<option value=0>请选择待检测日志</option>";
                    for (var key in res) {
                        //console.log("第二步");
                        options += "<option value='"+key+"'>"+res[key]+"</option>";
                    }
                    $("#selectLog").append(options);
                    //console.log("第三步");
                    //window.location.reload();
                    //alert('已选择'+type+'类筒端');

                    //window.location.reload();

                },
                error: function (res) {
                    alert('失败！')
                }
            });
        }
        function selectLog(){
            var type = $("#selectLog").val();
            var type1 = $("#selectLog").find("option:selected").text();
            $.ajax({
                type:'GET',
                data:{'mydata':type},
                url:"/poseCalculate/selectLog",
                dataType: 'json',
                success:function(res){
                    //window.location.reload();
                    if(type==0){
                        alert('误操作！请选择待检测日志！')
                    }
                    else{
                        alert('已选择'+type1+'日志');
                    }

                    //window.location.reload();
                },
                error: function (res) {
                      alert('失败！')
                }
            })
        }
    </script>
    <script>
        function confirmDelete(){
            var flag = $("#selectLog").find("option:selected").text();
            var r = confirm("确定要对"+flag+"日志进行筒段位姿计算吗？")
		    if (r == true) {
		        Calculate();
		    }
		    else {
		    }
        }
        function Calculate(){
            var flag = $("#selectLog").find("option:selected").text();
            $.ajax({
                type:'GET',
                data:{'flag':flag},
                url:"/poseCalculate/Calculate",
                dataType: 'json',
                success:function(res){
                    alert('位姿计算完成！')
                    document.getElementById("Axis").value=res["Axis"];
                    document.getElementById("Angle").value=res["Angle"];
                    document.getElementById("A_center").value=res["A_center"];
                    document.getElementById("B_center").value=res["B_center"];
                },
                error: function (res) {
                    alert('失败！')
                }
            })
        }
    </script>
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/three.js"></script>
    <script src="/static/js/OrbitControls.js"></script>
    <script src="/static/js/STLLoader.js"></script>
    <script>
        var myChart1 = echarts.init(document.getElementById("theChart1"));

        // 指定图表的配置项和数据
        var option1 = {
            title: {
                text: '测量系统误差统计'
            },
            tooltip: {},
            legend: {
                data:['双目标定误差']
            },
            xAxis: {
                data: ["1","2","3","4","5","6"]
            },
            yAxis: {},
            series: [{
                name: '双目标定误差',
                type: 'line',
                data: [0.5, 0.2, 0.36, 0.1, 0.1, 0.2]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart1.setOption(option1);
    </script>
    <script>
        var loader = new THREE.STLLoader();
        /**
        * 创建场景对象Scene
        */
        var scene = new THREE.Scene();
        var axes = new THREE.AxisHelper(200);
        var geometry1 = new THREE.BoxGeometry(30, 30, 2); //基准板B
        loader.load("/static/model/4.STL", function (geometry2) {
            //创建纹理
            var material2 = new THREE.MeshLambertMaterial({color: 0x1C86EE});
            var mesh2 = new THREE.Mesh(geometry2,material2 );
            //mesh2.rotation.x = -0.5 * Math.PI; //将模型摆正
            //mesh2.scale.set(0.1, 0.1, 0.1); //缩放
            geometry2.center(); //居中显示
            scene.add(mesh2);
        });
        //var geometry2 = new THREE.CylinderGeometry(40,40,600);
        var geometry3 = new THREE.BoxGeometry(30, 30, 2); //基准板A
        var ground = new THREE.BoxGeometry(300, 5, 600); //创建一个立方体几何对象Geometry
        var material1 = new THREE.MeshLambertMaterial({color: 0xF4A460}); //材质对象Material
        //var material2 = new THREE.MeshLambertMaterial({color: 0x1C86EE}); //材质对象Material
        var materialg = new THREE.MeshLambertMaterial({color: 0xf8f8f8}); //材质对象Material
        var mesh1 = new THREE.Mesh(geometry1, material1); //网格模型对象Mesh
        var mesh3 = new THREE.Mesh(geometry3, material1); //网格模型对象Mesh
        //var mesh2 = new THREE.Mesh(geometry2, material2); //网格模型对象Mesh
        //mesh2.rotateX(Math.PI/2);
        //mesh2.position.y = 20;
        mesh1.position.z = 280;
        mesh3.position.z = -280;
        mesh1.position.x = 60;
        mesh3.position.x = 60;
        var meshg = new THREE.Mesh(ground, materialg);
        meshg.position.y = -50;
        scene.add(axes);
        //scene.add(mesh1); //网格模型添加到场景中
        //scene.add(mesh2);
        //scene.add(mesh3);
        //scene.add(meshg);
        /**
        * 光源设置
        */
        //点光源
        var point = new THREE.PointLight(0xffffff);
        point.position.set(300, 200, 100); //点光源位置
        scene.add(point); //点光源添加到场景中
        //环境光
        var ambient = new THREE.AmbientLight(0x444444);
        scene.add(ambient);
        console.log(scene)
        console.log(scene.children)
        /**
        * 相机设置
        */
        var width = 755; //窗口宽度
        var height = 700; //窗口高度
        var k = width / height; //窗口宽高比
        var s = 300; //三维场景显示范围控制系数，系数越大，显示的范围越大
        //创建相机对象
        var camera = new THREE.OrthographicCamera(-s * k, s * k, s, -s, 1, 1000);
        camera.position.set(200, 200, 200); //设置相机位置
        camera.lookAt(scene.position); //设置相机方向(指向的场景对象)
        /**
        * 创建渲染器对象
        */
        var renderer = new THREE.WebGLRenderer();
        renderer.setSize(width, height);//设置渲染区域尺寸
        renderer.setClearColor(0xCAE1FF, 1); //设置背景颜色
        container = document.getElementById("wholeCylinder");
        container.appendChild(renderer.domElement); //body元素中插入canvas对象
        //执行渲染操作   指定场景、相机作为参数
        function render(){
            renderer.render(scene, camera);
        }
        render();
        var controls = new THREE.OrbitControls(camera,renderer.domElement);//创建控件对象
        controls.addEventListener('change', render);//监听鼠标、键盘事件
    </script>
    {% endblock %}

    <!-- ######### END: MAIN PANEL ########## -->
    {% block my_js %}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/perfect-scrollbar.jquery.js"></script>
    <script src="/static/js/jquery.sparkline.min.js"></script>
    <script src="/static/js/d3.js"></script>
    <script src="/static/js/rickshaw.min.js"></script>
    <script src="/static/js/chart.js"></script>
    <script src="/static/js/jquery.flot.js"></script>
    <script src="/static/js/jquery.flot.pie.js"></script>
    <script src="/static/js/jquery.flot.resize.js"></script>
    <script src="/static/js/jquery.flot.spline.js"></script>
    <script src="/static/js/starlight.js"></script>
    <script src="/static/js/resizesensor.js"></script>
    <script src="/static/js/dashboard.js"></script>
    {% endblock %}

</body>
</html>