<!DOCTYPE html>
{%  extends "publicNav.html" %}
<html lang="en">
<head>
    {% block head_meta %}
    <meta charset="UTF-8">
    {% block title %}<title>大型细长筒类构件位姿原位测量系统</title>{% endblock %}
    {% endblock %}
    <!--CSS标签 -->

    {% block css %}
    <link href="../static/css/test_css.css" rel="stylesheet">
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/ionicons.css" rel="stylesheet">
    <link href="../static/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../static/css/rickshaw.min.css" rel="stylesheet">
    {% endblock %}
    <!--CSS结束 -->
    {% block my_css %}
    <link rel="stylesheet" href="../static/css/starlight.css">
    {% endblock %}

</head>
<body>
    {% block header %}
    <!-- ########## START: LEFT PANEL ########## -->
    <div class="sl-logo" style="background-color:#1255a2"><a href=""><img src="../static/picture/logo.jpg" class="wd-30 rounded-circle"></img> BUAA</a></div>
    <div class="sl-sideleft">
        <label class="sidebar-label">功能模块</label>
        <div class="sl-sideleft-menu">
            <a href="index.html" class="sl-menu-link">
                <div class="sl-menu-item">
                    <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
                    <span class="menu-item-label">测量系统初始化</span>
			        <i class="menu-item-arrow fa fa-angle-down"></i>
                </div><!-- menu-item -->
            </a><!-- sl-menu-link -->
	        <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="../cameraCalibration/" class="nav-link">测量场标定及日志管理</a></li>
                <li class="nav-item"><a href="../prioriImport/" class="nav-link">先验加工数据导入及管理</a></li>
            </ul>
            <a href="#" class="sl-menu-link">
            <div class="sl-menu-item">
                <i class="menu-item-icon icon ion-ios-gear-outline tx-24"></i>
                <span class="menu-item-label">视觉测量及位姿计算</span>
                <i class="menu-item-arrow fa fa-angle-down"></i>
            </div><!-- menu-item -->
            </a>
            <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="../testMeasure/" class="nav-link">目标识别检测及定位</a></li>
                <li class="nav-item"><a href="../threeDRestructure/" class="nav-link">关键特征点三维重构</a></li>
                <li class="nav-item"><a href="../poseCalculate/" class="nav-link">筒段构件关键位姿计算</a></li>
            </ul>
            <a href="#" class="sl-menu-link active">
                <div class="sl-menu-item">
                    <i class="menu-item-icon ion-ios-pie-outline tx-20"></i>
                    <span class="menu-item-label">测量系统结果输出</span>
			        <i class="menu-item-arrow fa fa-angle-down"></i>
                </div><!-- menu-item -->
            </a><!-- sl-menu-link -->
	        <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="../resultsAnalysis/" class="nav-link">测量报告编辑及生成</a></li>
                <li class="nav-item"><a href="../planoMiller/" class="nav-link">龙门铣床加工系统数据输出</a></li>
                <li class="nav-item"><a href="../robotMachine/" class="nav-link">多机器人加工系统数据输出</a></li>
            </ul>
        </div>
    </div>
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="sl-header" style="background-color: #033f75">
      <div class="sl-header-left">
        <div class="navicon-left hidden-lg-up" style="background-color: #044b8c"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="navicon-left hidden-md-down" style="background-color: #044b8c"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
      </div><!-- sl-header-left -->
      <div class="sl-header-right">
        <nav class="nav">
          <div class="dropdown">
            <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
              <span class="logged-name">开发团队<span class="hidden-md-down"> 北航A513实验室</span></span>
            </a>
            <div class="dropdown-menu dropdown-menu-header wd-200" style="background-color:#033f75">
              <ul class="list-unstyled user-profile-nav">
                <li><a href=""><i class="ion-ios-book-outline"></i> 软件概述</a></li>
                <li><a href=""><i class="ion-ios-person-outline"></i> 了解更多</a></li>
                <li><a href=""><i class="ion-ios-email-outline"></i> 联系我们</a></li>
                <li><a href="https://www.cnblogs.com/monkiki/"><i class="ion-ios-information-outline"></i> 开发人员博客</a></li>
              </ul>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </nav>
      </div><!-- sl-header-right -->
    </div><!-- sl-header -->
    <!-- ########## END: HEAD PANEL ########## -->

    {% endblock %}
    <!-- ########## START: MAIN PANEL ########## -->
    {% block main %}
    <div class="sl-mainpanel">
        <div style="height:15px"></div>
        <div style="display:flex">
            <div class="container" style="flex:1;padding-right:0px;padding-left:0px">
                <div class="card container" style="border-radius:10px 10px 0px 0px;border:2px solid #1255a2;margin-left:0px;background-color:#1255a2;height:20px;width:100%">
                    <p align="center" style="color:white">筒段关键位姿计算结果显示区域</p>
                </div>
                <div class="card container" style="border-radius:0px 0px 15px 15px;border:2px solid #1255a2;margin-left:0px;width:100%;height:470px">
                    <div>
                        <span>
                            <button type="button" class="btn-success" id="updateList" style="font-size:18px;width:110px;height:35px;border-radius:8px" onclick="updateList()"><i class="fa fa-refresh"></i> 更新列表</button>
                            <label style="font-size:18px">选择需要传输给机器人的测量日志</label>
                            <select id="selectLog" style="font-size:18px;background:rgba(0,0,0,0.08);width:250px;height:35px;border-radius:8px" onchange="selectLog()">
                                <option value ="0">请先点击左侧“更新列表”</option>
                            </select>
                            <button type="button" class="btn-success" id="Calculate" style="font-size:18px;width:110px;height:35px;border-radius:8px" onclick="confirmDelete()"><i class="fa fa-compress"></i> 数据传输</button>
                        </span>
                    </div>
                    <div style="height:15px"></div>
                    <div style="border:2px dashed #1255a2;height:350px;width:100%">
                        <p align="left" id="Text" style="font-size:18px">无连接</p><!--这里更换文本-->
                        <!--这里以后放导入后绘图效果-->
                    </div>
                </div>
            </div>
        </div>
        <div style="height:40px"></div>
        <div>
            <footer class="sl-footer" style="background-color:#044b8c;height:40px">
            <div>
                <p align="center" style="color:white;margin-bottom: 0px;">Copyright &copy; 2018. <strong>Starlight</strong>. All Rights Reserved. Made by BUAA <strong>Laboratory of Digital Design and Manufacturing</strong>.</p>
            </div>
            </footer>
        </div>
    </div>


    {% endblock %}

    {% block js %}

    {% endblock %}


    {% block write_js %}
    <script>
        function updateList() {
            $("#selectLog").html("");
            $.ajax({
                type:'GET',
                data:{'mydata':1},
                url:"/robotMachine/updateList",
                dataType: 'json',
                success:function(res){
                    //console.log("第一步");
                    var options = "<option value=0>请选择待检测日志</option>";
                    for (var key in res) {
                        //console.log("第二步");
                        options += "<option value='"+key+"'>"+res[key]+"</option>";
                    }
                    $("#selectLog").append(options);
                    //console.log("第三步");
                    //window.location.reload();
                    //alert('已选择'+type+'类筒端');

                    //window.location.reload();

                },
                error: function (res) {
                    alert('失败！')
                }
            });
        }
        function selectLog(){
            var type = $("#selectLog").val();
            var type1 = $("#selectLog").find("option:selected").text();
            $.ajax({
                type:'GET',
                data:{'mydata':type},
                url:"/robotMachine/selectLog",
                dataType: 'json',
                success:function(res){
                    //window.location.reload();
                    if(type==0){
                        alert('误操作！请选择待检测日志！')
                    }
                    else{
                        alert('已选择'+type1+'日志');
                    }

                    //window.location.reload();
                },
                error: function (res) {
                      alert('失败！')
                }
            })
        }
    </script>
    <script>
        function confirmDelete(){
            var flag = $("#selectLog").find("option:selected").text();
            var r = confirm("确定要发送"+flag+"日志到机器人加工系统吗？")
		    if (r == true) {
		        robotCommunicate();
		    }
		    else {
		    }
        }
        function robotCommunicate(){
            var flag = $("#selectLog").find("option:selected").text();
            alert('发送测量数据成功！')
            document.getElementById("Text").innerHTML="与机器人加工系统通讯已连接";
            $.ajax({
                type:'GET',
                data:{'flag':flag},
                url:"/robotMachine/robotCommunicate",
                dataType: 'json',
                success:function(res){

                },
                error: function (res) {

                }
            })
        }
    </script>
    {% endblock %}

    <!-- ######### END: MAIN PANEL ########## -->
    {% block my_js %}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/perfect-scrollbar.jquery.js"></script>
    <script src="/static/js/jquery.sparkline.min.js"></script>
    <script src="/static/js/d3.js"></script>
    <script src="/static/js/rickshaw.min.js"></script>
    <script src="/static/js/chart.js"></script>
    <script src="/static/js/jquery.flot.js"></script>
    <script src="/static/js/jquery.flot.pie.js"></script>
    <script src="/static/js/jquery.flot.resize.js"></script>
    <script src="/static/js/jquery.flot.spline.js"></script>
    <script src="/static/js/starlight.js"></script>
    <script src="/static/js/resizesensor.js"></script>
    <script src="/static/js/dashboard.js"></script>
    {% endblock %}

</body>
</html>