<!DOCTYPE html>
{%  extends "publicNav.html" %}
<html lang="en">
<head>
    {% block head_meta %}
    <meta charset="UTF-8">
    {% block  title %}<title>大型细长筒类构件位姿原位测量系统</title>{% endblock %}
    {% endblock %}
    {% block css %}
    <link href="../static/css/test_css.css" rel="stylesheet">
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/ionicons.css" rel="stylesheet">
    <link href="../static/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../static/css/rickshaw.min.css" rel="stylesheet">
    {% endblock %}
    {% block my_css %}
    <link rel="stylesheet" href="../static/css/starlight.css">
    {% endblock %}
</head>
<input>
    {% block header %}
    <!-- ########## START: LEFT PANEL ########## -->
    <div class="sl-logo" style="background-color:#1255a2"><a href=""><img src="../static/picture/logo.jpg" class="wd-30 rounded-circle"></img> BUAA</a></div>
    <div class="sl-sideleft">
        <label class="sidebar-label">功能模块</label>
        <div class="sl-sideleft-menu">
            <a href="index.html" class="sl-menu-link active">
                <div class="sl-menu-item">
                    <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
                    <span class="menu-item-label">测量系统初始化</span>
			        <i class="menu-item-arrow fa fa-angle-down"></i>
                </div><!-- menu-item -->
            </a><!-- sl-menu-link -->
	        <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="../cameraCalibration/" class="nav-link">测量场标定及日志管理</a></li>
                <li class="nav-item"><a href="../prioriImport/" class="nav-link">先验加工数据导入及管理</a></li>
            </ul>
            <a href="#" class="sl-menu-link">
            <div class="sl-menu-item">
                <i class="menu-item-icon icon ion-ios-gear-outline tx-24"></i>
                <span class="menu-item-label">视觉测量及位姿计算</span>
                <i class="menu-item-arrow fa fa-angle-down"></i>
            </div><!-- menu-item -->
            </a>
            <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="../testMeasure/" class="nav-link">目标识别检测及定位</a></li>
                <li class="nav-item"><a href="../threeDRestructure/" class="nav-link">关键特征点三维重构</a></li>
                <li class="nav-item"><a href="../poseCalculate/" class="nav-link">筒段构件关键位姿计算</a></li>
            </ul>
            <a href="#" class="sl-menu-link">
                <div class="sl-menu-item">
                    <i class="menu-item-icon ion-ios-pie-outline tx-20"></i>
                    <span class="menu-item-label">测量系统结果输出</span>
			        <i class="menu-item-arrow fa fa-angle-down"></i>
                </div><!-- menu-item -->
            </a><!-- sl-menu-link -->
	        <ul class="sl-menu-sub nav flex-column">
                <li class="nav-item"><a href="../resultsAnalysis/" class="nav-link">测量报告编辑及生成</a></li>
                <li class="nav-item"><a href="../planoMiller/" class="nav-link">龙门铣床加工系统数据输出</a></li>
                <li class="nav-item"><a href="../robotMachine/" class="nav-link">多机器人加工系统数据输出</a></li>
            </ul>
        </div>
    </div>
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="sl-header" style="background-color: #033f75">
      <div class="sl-header-left">
        <div class="navicon-left hidden-lg-up" style="background-color: #044b8c"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="navicon-left hidden-md-down" style="background-color: #044b8c"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
      </div><!-- sl-header-left -->
      <div class="sl-header-right">
        <nav class="nav">
          <div class="dropdown">
            <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
              <span class="logged-name">开发团队<span class="hidden-md-down"> 北航A513实验室</span></span>
            </a>
            <div class="dropdown-menu dropdown-menu-header wd-200" style="background-color:#033f75">
              <ul class="list-unstyled user-profile-nav">
                <li><a href=""><i class="ion-ios-book-outline"></i> 软件概述</a></li>
                <li><a href=""><i class="ion-ios-person-outline"></i> 了解更多</a></li>
                <li><a href=""><i class="ion-ios-email-outline"></i> 联系我们</a></li>
                <li><a href="https://www.cnblogs.com/monkiki/"><i class="ion-ios-information-outline"></i> 开发人员博客</a></li>
              </ul>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </nav>
      </div><!-- sl-header-right -->
    </div><!-- sl-header -->
    <!-- ########## END: HEAD PANEL ########## -->

    {% endblock %}
    <!-- ########## START: MAIN PANEL ########## -->
    {% block main %}
    <div class="sl-mainpanel">
        <div style="height:15px"></div>
        <div style="display:flex">
            <div class="container" style="flex:1;padding-right:0px;padding-left:0px">
                <div class="card container" style="border-radius:10px 10px 0px 0px;border:2px solid #1255a2;margin-left:0px;width:100%;background-color:#1255a2;height:20px">
                    <p align="center" style="color:white">待标定相机组选择区域</p>
                </div>
                <div class="card container" style="border-radius:0px 0px 15px 15px;border:2px solid #1255a2;margin-left:0px">
                    <span>
                        <input type="radio" name="AorB" id="selectA" value="A"><label style="font-size:18px;color:black">A端相机组标定</label>
                        <input type="radio" name="AorB" id="selectB" value="B"><label style="font-size:18px;color:black">B端相机组标定</label>
                        <button class="btn-success" style="font-size:18px;width:110px;height:35px;border-radius:8px" type="button" id="selectAorB" onclick="selectAorB()"><i class="fa fa-repeat"></i> 切换</button>
                    </span>
                </div>
                <div class="card container" style="border-radius:10px 10px 0px 0px;border:2px solid #1255a2;margin-left:0px;background-color:#1255a2;height:20px;width:100%">
                    <p align="center" style="color:white">标定结果显示区域</p>
                </div>
                <div class="card container" style="border-radius:0px 0px 15px 15px;border:2px solid #1255a2;margin-left:0px;width:100%;height:278px">
                    <div>
                        <button class="btn-success" style="font-size:18px;width:110px;height:35px;border-radius:8px" type="button" id="stereoCalibration" onclick="confirmDelete3()"><i class="fa fa-binoculars"></i> 立体标定</button>
                    </div>
                    <div style="border:2px solid #1255a2;height:215px">
                        <p align="left" id="ltime" style="font-size:9px">left标定时长:</p>
                        <p align="left" id="lterror" style="font-size:9px">left标定偏差:</p>
                        <p align="left" id="rtime" style="font-size:9px">right标定时长:</p>
                        <p align="left" id="rterror" style="font-size:9px">right标定偏差:</p>
                        <p align="left" id="stime" style="font-size:9px">双目标定时长:</p>
                    </div>
                </div>
            </div>

            <div style="height:10px"></div>

            <div class="container" style="flex:1;padding-right:0px;padding-left:0px">
                <div class="card container" style="border-radius:10px 10px 0px 0px;border:2px solid #1255a2;margin-left:0px;width:100%;background-color:#1255a2;height:20px">
                    <p align="center" style="color:white">标定板图像显示区域</p>
                </div>
                <div class="card container" style="border-radius:0px 0px 15px 15px;border:2px solid #1255a2;margin-left:0px">
                    <span>
                    <div style="float:left;width:120px">
                        <div style="height:45px">
                            <button class="btn-primary" style="font-size:18px;width:110px;height:40px;border-radius:8px" type="button" id="takePhotos" onclick="take_pic()"><i class="fa fa-camera"></i> 拍摄</button><!--这里按钮在拍摄与保存之间切换-->
                        </div>
                        <div style="height:45px">
                            <button class="btn-info" style="font-size:18px;width:110px;height:40px;border-radius:8px" type="button" id="savePic" onclick="save_pic()" disabled="disabled"><i class="fa fa-floppy-o"></i> 保存</button><!--我放弃了5555-->
                        </div>
                        <div style="height:45px">
                            <button class="btn-primary" style="font-size:18px;width:110px;height:40px;border-radius:8px" type="button" id="pageUp" onclick="pageUp()"><i class="fa fa-arrow-circle-o-up"></i> 上翻</button>
                        </div>
                        <div style="height:45px">
                            <button class="btn-primary" style="font-size:18px;width:110px;height:40px;border-radius:8px" type="button" id="pageDown" onclick="pageDown()"><i class="fa fa-arrow-circle-o-down"></i> 下翻</button>
                        </div>
                        <div style="height:45px">
                            <button class="btn-warning" style="font-size:18px;width:110px;height:40px;border-radius:8px" type="button" id="deleteThis" onclick="confirmDelete1()"><i class="fa fa-trash"></i> 删除这组</button>
                        </div>
                        <div style="height:45px">
                            <button class="btn-danger" style="font-size:18px;width:110px;height:40px;border-radius:8px" type="button" id="deleteAll" onclick="confirmDelete2()"><i class="fa fa-trash"></i> 删除所有</button>
                        </div>
                    </div>
                    <div style="float:left">
                      <table border="3" style="border:#5b93d3"><tr>
                            <td><img name= 'leftcamera' src="/static/res_pictures/temp/noImage.png" alt="Pulpit rock" width="300" height="250" id="left_img"></td>
                            <td><img name='rightcamera' src="/static/res_pictures/temp/noImage.png" alt="Pulpit rock" width="300" height="250" id="right_img"></td>
                      </tr></table>
                    </div>
                    </span>
                    <div align="center">
                        <p align="center" id="numPic" style="font-size:18px;color:black">拍照后点击“保存”即可存入标定图库</p><!--这里更换文本-->
                    </div>
                </div>
            </div>
        </div>
        <div style="height:40px"></div>
        <div style="display:flex">
            <div class="container" style="flex:1;padding-right:0px;padding-left:0px">
                <div class="card container" style="border-radius:10px 10px 0px 0px;border:2px solid #1255a2;margin-left:0px;background-color:#1255a2;height:20px;width:100%">
                    <p align="center" style="color:white">测量场及全局坐标系构建区域</p>
                </div>
                <div class="card container" style="border-radius:0px 0px 15px 15px;border:2px solid #1255a2;margin-left:0px;width:100%;height:390px">
                    <div>
                        <button class="btn-success" style="font-size:18px;width:130px;height:35px;border-radius:8px" type="button" id="constructMeasureField" onclick="constructMeasureField()"><i class="fa fa-codepen"></i> 构建测量场</button>
                    </div>
                    <div style="display:flex">
                        <div style="border:2px dashed #1255a2;display:flex;width:100%">
                            <p align="center" style="font-size:18px;margin:0">...</p>
                        </div>
                        <div>
                            <table border="3" style="border:#5b93d3">
                                <tr>
                                    <td><img name= 'targetBallCoordinates' src="/static/res_pictures/temp/noPoint.png" alt="Pulpit rock" width="330" height="250" id="targetBallCoordinates"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="flex:1;padding-right:0px;padding-left:0px">
                <div class="card container" style="border-radius:10px 10px 0px 0px;border:2px solid #1255a2;margin-left:0px;background-color:#1255a2;height:20px;width:100%">
                    <p align="center" style="color:white">激光跟踪仪数据导入区域</p>
                </div>
                <div class="card container" style="border-radius:0px 0px 15px 15px;border:2px solid #1255a2;margin-left:0px;width:100%;height:390px">
                    <div style="border:2px dashed #1255a2;height:70px">
                        <input type="file" id="File1" style="font-size:0px;width:0px;height:0px" onchange="document.getElementById('textfield').value=document.getElementById('File1').value">
                        <button class="btn-success" style="font-size:18px;width:110px;height:35px;border-radius:8px;margin-left:0px" type="button" id="laserTrackerFile" onclick="laserTrackerFile()"><i class="fa fa-download"></i> 选择文件</button>
                        <input type="text" id="textfield" style="font-size:18px;margin-left:0px;width:60%">
                        <button class="btn-success" style="font-size:18px;width:110px;height:35px;border-radius:8px;margin-left:0px" type="button" id="inputComplete" onclick="inputComplete()"><i class="fa fa-check"></i> 导入完成</button>
                    </div>

                    <!--这里加激光跟踪仪数显input-->
                    <div style="border:2px dashed #1255a2;height:130px;width:100%">
                        <p style="font-size:18px;margin:0;color:black">基准板A测量数据手动录入</p>
                        <div style="display:flex">
                            <p style="font-size:18px;margin:0;color:black">&nbsp;&nbsp;&nbsp;靶球1:&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="A1X" style="font-size:18px;margin-left:0px;width:170px">
                            <p style="font-size:18px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="A1Y" style="font-size:18px;margin-left:0px;width:170px">
                            <p style="font-size:18px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="A1Z" style="font-size:18px;margin-left:0px;width:170px">
                        </div>
                        <div style="display:flex">
                            <p style="font-size:18px;margin:0;color:black">&nbsp;&nbsp;&nbsp;靶球2:&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="A2X" style="font-size:18px;margin-left:0px;width:170px">
                            <p style="font-size:18px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="A2Y" style="font-size:18px;margin-left:0px;width:170px">
                            <p style="font-size:18px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="A2Z" style="font-size:18px;margin-left:0px;width:170px">
                        </div>
                        <div style="display:flex">
                            <p style="font-size:18px;margin:0;color:black">&nbsp;&nbsp;&nbsp;靶球3:&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="A3X" style="font-size:18px;margin-left:0px;width:170px">
                            <p style="font-size:18px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="A3Y" style="font-size:18px;margin-left:0px;width:170px">
                            <p style="font-size:18px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="A3Z" style="font-size:18px;margin-left:0px;width:170px">
                        </div>
                    </div>
                    <div style="border:2px dashed #1255a2;height:130px;width:100%">
                        <p style="font-size:18px;margin:0;color:black">基准板B测量数据手动录入</p>
                        <div style="display:flex">
                            <p style="font-size:18px;margin:0;color:black">&nbsp;&nbsp;&nbsp;靶球1:&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="B1X" style="font-size:18px;margin-left:0px;width:170px">
                            <p style="font-size:18px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="B1Y" style="font-size:18px;margin-left:0px;width:170px">
                            <p style="font-size:18px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="B1Z" style="font-size:18px;margin-left:0px;width:170px">
                        </div>
                        <div style="display:flex">
                            <p style="font-size:18px;margin:0;color:black">&nbsp;&nbsp;&nbsp;靶球2:&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="B2X" style="font-size:18px;margin-left:0px;width:170px">
                            <p style="font-size:18px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="B2Y" style="font-size:18px;margin-left:0px;width:170px">
                            <p style="font-size:18px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="B2Z" style="font-size:18px;margin-left:0px;width:170px">
                        </div>
                        <div style="display:flex">
                            <p style="font-size:18px;margin:0;color:black">&nbsp;&nbsp;&nbsp;靶球3:&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="B3X" style="font-size:18px;margin-left:0px;width:170px">
                            <p style="font-size:18px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="B3Y" style="font-size:18px;margin-left:0px;width:170px">
                            <p style="font-size:18px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="B3Z" style="font-size:18px;margin-left:0px;width:170px">
                        </div>
                    </div>
                    <div>
                        <button class="btn-success" style="font-size:18px;width:115px;height:35px;border-radius:8px;margin-left:0px" type="button" id="insertComplete" onclick="insertComplete()"><i class="fa fa-check"></i> 录入完成</button>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:40px"></div>
        <div>
            <footer class="sl-footer" style="background-color:#044b8c">
            <div>
                <p align="center" style="color:white;margin-bottom: 0px;">Copyright &copy; 2018. <strong>Starlight</strong>. All Rights Reserved. Made by BUAA <strong>Laboratory of Digital Design and Manufacturing</strong>.</p>
            </div>
            </footer>
        </div>
    </div>

    {% endblock %}
    {% block js %}

    {% endblock %}


    {% block write_js %}
    <script>
        var time
        function selectAorB(){
            var chkObjs=null;
            var obj=document.getElementsByName("AorB");
            document.getElementById("selectAorB").setAttribute("disabled", true);
            document.getElementById("selectA").setAttribute("disabled",true);
            document.getElementById("selectB").setAttribute("disabled",true);
            for (var i=0;i<obj.length;i++){
                if(obj[i].checked){
                    chkObjs=obj[i].value;
                }
            }
            document.getElementById("numPic").innerHTML='当前正在标定'+chkObjs+'端相机组';
            $.ajax({
                  type: 'GET',
                  data: {'mydata':chkObjs},
                  url: "/cameraCalibration/selectAorB",
                  dataType: "json",
                  success: function (res) {
                      alert("已切换至标定"+chkObjs+"端相机")
                  },
                  error: function (res) {
                      alert('失败！')
                  }
            })
        }
    </script>
    <script>
        function  take_pic(){
            var flag = $('input[type=radio][name=AorB]:checked').val();
            $.ajax({
                type:'GET',
                data:{'mydata':flag},
                url:"/cameraCalibration/take_pic",
                dataType: 'json',
                success:function(res){
                    //window.location.reload();
                    alert('拍照完成');
                    document.getElementById("savePic").removeAttribute("disabled");
                    time = res["key"];
                    //window.location.reload();
                    document.getElementById("numPic").innerHTML='当前照片组标签为'+flag+'端'+time;
                    document.getElementById("left_img").src="/static/res_pictures/temp/left.jpg";
                    document.getElementById("right_img").src="/static/res_pictures/temp/right.jpg";
                },
                error: function (res) {
                      alert('失败')
                }
            })
        }
    </script>
    <script>
        function save_pic(){
            var flag = $('input[type=radio][name=AorB]:checked').val()
            $.ajax({
                type:'GET',
                data:{'mydata':flag,'mydata1':time},
                url:"/cameraCalibration/save_pic",
                dataType: 'json',
                success:function(res){
                    alert("成功以"+"'"+time+"'"+"为标签保存至"+flag+"端标定图库")
                    document.getElementById("savePic").setAttribute("disabled",true);
                    document.getElementById("selectA").removeAttribute("disabled");
                    document.getElementById("selectB").removeAttribute("disabled");
                    document.getElementById("selectAorB").removeAttribute("disabled");
                }
            })
        }
    </script>
    <script>
        function pageUp(){
            document.getElementById("savePic").setAttribute("disabled",true);
            document.getElementById("selectA").removeAttribute("disabled");
            document.getElementById("selectB").removeAttribute("disabled");
            document.getElementById("selectAorB").removeAttribute("disabled");
            var flag = $('input[type=radio][name=AorB]:checked').val();
            $.ajax({
                type:'GET',
                data:{'mydata':flag,'mydata1':time},
                url:"/cameraCalibration/pageUp",
                dataType: 'json',
                success:function(res){
                    //console.log(res["left_path"])
                    document.getElementById("left_img").src=res["left_path"];
                    document.getElementById("right_img").src=res["right_path"];
                    time = res["time"]
                    id = res["id"]
                    num = res["num"]
                    document.getElementById("numPic").innerHTML='当前照片组标签为'+flag+'端'+time+"       "+flag+"端标定图库中第"+id+"组/共"+num+"组"
                }
            })
        }
    </script>
    <script>
        function pageDown(){
            document.getElementById("savePic").setAttribute("disabled",true);
            document.getElementById("selectA").removeAttribute("disabled");
            document.getElementById("selectB").removeAttribute("disabled");
            document.getElementById("selectAorB").removeAttribute("disabled");
            var flag = $('input[type=radio][name=AorB]:checked').val()
            $.ajax({
                type:'GET',
                data:{'mydata':flag,'mydata1':time},
                url:"/cameraCalibration/pageDown",
                dataType: 'json',
                success:function(res){
                    console.log(res["left_path"])
                    document.getElementById("left_img").src=res["left_path"];
                    document.getElementById("right_img").src=res["right_path"];
                    time = res["time"]
                    id = res["id"]
                    num = res["num"]
                    document.getElementById("numPic").innerHTML='当前照片组标签为'+flag+'端'+time+"       "+flag+"端标定图库中第"+id+"组/共"+num+"组"
                }
            })
        }
    </script>
    <script>
        function confirmDelete1(){
            var flag = $('input[type=radio][name=AorB]:checked').val()
            var r = confirm("确定要删除当前显示的照片吗？")
		    if (r == true) {
		        deleteThis()
		    }
		    else {
		    }
        }
        function deleteThis(){
            var flag = $('input[type=radio][name=AorB]:checked').val()
            $.ajax({
                type:'GET',
                data:{'mydata':flag,'mydata1':time},
                url:"/cameraCalibration/deleteThis",
                dataType: 'json',
                success:function(res){
                    alert("标签为"+flag+"端"+time+"照片组已被成功删除！")
                    document.getElementById("left_img").src=res["left_path"];
                    document.getElementById("right_img").src=res["right_path"];
                    time = res["time"]
                    id = res["id"]
                    num = res["num"]
                    document.getElementById("numPic").innerHTML='当前照片组标签为'+flag+'端'+time+"       "+flag+"端标定图库中第"+id+"组/共"+num+"组"
                }
            })
        }
    </script>
    <script>
        function confirmDelete2(){
            var flag = $('input[type=radio][name=AorB]:checked').val()
            var r = confirm("确定要删除"+flag+"端标定图库中所有照片吗？")
		    if (r == true) {
		        deleteAll()
		    }
		    else {
		    }
        }
        function deleteAll(){
            var flag = $('input[type=radio][name=AorB]:checked').val()
            $.ajax({
                type:'GET',
                data:{'mydata':flag},
                url:"/cameraCalibration/deleteAll",
                dataType: 'json',
                success:function(res){
                    alert(flag+"端标定图库中所有照片已成功被删除！")
                    document.getElementById("left_img").src="/static/res_pictures/temp/noImage.png";
                    document.getElementById("right_img").src="/static/res_pictures/temp/noImage.png";
                    document.getElementById("numPic").innerHTML='当前正在标定'+flag+'端相机组'
                }
            })
        }
    </script>
    <script>
        function confirmDelete3(){
            var flag = $('input[type=radio][name=AorB]:checked').val();
            var r = confirm("确定要对"+flag+"端双目相机进行标定吗？");
		    if (r == true) {
		        stereoCalibration();
		    }
		    else {
		    }
        }
        function stereoCalibration(){
            var flag = $('input[type=radio][name=AorB]:checked').val()
            document.getElementById("numPic").innerHTML='正在进行标定运算！请勿进行其他操作！'
            document.getElementById("takePhotos").setAttribute("disabled",true);
            document.getElementById("pageUp").setAttribute("disabled",true);
            document.getElementById("pageDown").setAttribute("disabled",true);
            document.getElementById("deleteThis").setAttribute("disabled",true);
            document.getElementById("deleteAll").setAttribute("disabled",true);
            document.getElementById("stereoCalibration").setAttribute("disabled",true);
            $.ajax({
                type:'GET',
                data:{'mydata':flag},
                url:"/cameraCalibration/stereoCalibration",
                dataType: 'json',
                success:function(res){
                    alert(flag+"端双目相机已标定完成！")
                    document.getElementById("left_img").src="/static/res_pictures/temp/noImage.png";
                    document.getElementById("right_img").src="/static/res_pictures/temp/noImage.png";
                    document.getElementById("takePhotos").removeAttribute("disabled");
                    document.getElementById("pageUp").removeAttribute("disabled");
                    document.getElementById("pageDown").removeAttribute("disabled");
                    document.getElementById("deleteThis").removeAttribute("disabled");
                    document.getElementById("deleteAll").removeAttribute("disabled");
                    document.getElementById("stereoCalibration").removeAttribute("disabled");
                    document.getElementById("ltime").innerHTML='left标定时长:'+res["ltime"]+'秒';
                    document.getElementById("lterror").innerHTML='left标定偏差:'+res["lterror"];

                    document.getElementById("rtime").innerHTML='right标定时长:'+res["rtime"]+'秒';
                    document.getElementById("rterror").innerHTML='right标定偏差:'+res["rterror"];

                    document.getElementById("stime").innerHTML='双目标定时长:'+res["stime"]+'秒';
                }
            })
        }
    </script>
    <script>
        function laserTrackerFile(){
            var file = document.getElementById("File1");
            file.click();
        }
        function inputComplete(){
            var t;
        }
    </script>
    <script>
        function insertComplete(){
            var A1X = document.getElementById("A1X").value;
            var A1Y = document.getElementById("A1Y").value;
            var A1Z = document.getElementById("A1Z").value;
            var A2X = document.getElementById("A2X").value;
            var A2Y = document.getElementById("A2Y").value;
            var A2Z = document.getElementById("A2Z").value;
            var A3X = document.getElementById("A3X").value;
            var A3Y = document.getElementById("A3Y").value;
            var A3Z = document.getElementById("A3Z").value;
            var B1X = document.getElementById("B1X").value;
            var B1Y = document.getElementById("B1Y").value;
            var B1Z = document.getElementById("B1Z").value;
            var B2X = document.getElementById("B2X").value;
            var B2Y = document.getElementById("B2Y").value;
            var B2Z = document.getElementById("B2Z").value;
            var B3X = document.getElementById("B3X").value;
            var B3Y = document.getElementById("B3Y").value;
            var B3Z = document.getElementById("B3Z").value;
            $.ajax({
                type:'GET',
                data:{'A1X':A1X,'A1Y':A1Y,'A1Z':A1Z,'A2X':A2X,'A2Y':A2Y,'A2Z':A2Z,'A3X':A3X,'A3Y':A3Y,'A3Z':A3Z,'B1X':B1X,'B1Y':B1Y,'B1Z':B1Z,'B2X':B2X,'B2Y':B2Y,'B2Z':B2Z,'B3X':B3X,'B3Y':B3Y,'B3Z':B3Z},
                url:"/cameraCalibration/insertComplete",
                dataType: 'json',
                success:function(res){
                    alert("数据录入完成！")
                },
                error: function (res) {
                      alert('失败')
                }
            })
        }
    </script>
    {% endblock %}
    <!-- ######### END: MAIN PANEL ########## -->

    {% block my_js %}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/perfect-scrollbar.jquery.js"></script>
    <script src="/static/js/jquery.sparkline.min.js"></script>
    <script src="/static/js/d3.js"></script>
    <script src="/static/js/rickshaw.min.js"></script>
    <script src="/static/js/chart.js"></script>
    <script src="/static/js/jquery.flot.js"></script>
    <script src="/static/js/jquery.flot.pie.js"></script>
    <script src="/static/js/jquery.flot.resize.js"></script>
    <script src="/static/js/jquery.flot.spline.js"></script>
    <script src="/static/js/starlight.js"></script>
    <script src="/static/js/resizesensor.js"></script>
    <script src="/static/js/dashboard.js"></script>

    {% endblock %}
</body>
</html>